;; Compiled lisp files
*.elc
*.eln

;; Directories containing packages and native-compiled lisp
emacs/elpa/*
emacs/eln-cache/*
emacs/vendor-lisp/*

;; Directories from no-littering-mode
emacs/etc/*
emacs/var/*

